.activityCard {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  .activityImage{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 80px; /* Adjust height as needed */
  }


  .activityInfo {
    padding: 8px; /* Adjust padding as necessary */
    background-color: white; /* Or any color as per the design */
  }
  
  .activityTitle {
    font-size: 1.2em; /* Adjust font size as necessary */
    margin: 0;
    color: #333; /* Adjust font color as necessary */
  }
  
  .activityDate {
    font-size: 1em; /* Adjust font size as necessary */
    margin: 0;
    color: #666; /* Adjust font color as necessary */
  }
  