.profileSidebarContainer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
}

.profileImage {
  border-radius: 50%;
  cursor: pointer;
  z-index: 1010;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #1A1A1A;
  transition: right 0.3s ease-in-out;
  z-index: 1005;
}

.sidebarVisible {
  right: 0;
}

.sidebarProfile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sidebarProfileName {
  margin-left: 1rem;
  color: #fff;
  font-weight: bold;
}

.sidebarNavItem {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.sidebarNavIcon {
  margin-right: 1rem;
}

.sidebarNavItem:hover {
  background-color: #333;
}

.sidebarNavItemActive {
  background-color: #555;
}
