.ActivityList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
  }
  
  .addButton {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow to the button */
    margin-top: 20px; /* Add space above the add button */
    }
  
  .placeholder {
    width: 600px;
    height: 80px; 
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: #f0f0f0; /* Light grey background */
    margin: 10px 0; /* Spacing between the boxes */
  }
  
